{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Admin Dashboard {% endblock %}</title>
    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="{% static 'assets/images/RTAF.ico' %}">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">
    <!-- Styles -->
    <link href="{% static 'assets/css/lib/calendar2/pignose.calendar.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/lib/chartist/chartist.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/lib/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/lib/themify-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/lib/owl.carousel.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/lib/owl.theme.default.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/lib/weather-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/lib/menubar/sidebar.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/lib/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/lib/helper.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
</head>

<body>

    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <ul>
                    <div class="logo"><a href="index.html">
                            <img class="pic" src="{% static 'assets/images/RTAF.png' %}" alt="" /><span>AFCOVID</span>
                            <style>
                                .pic {
                                    width: 75px;
                                    /*ปรับขนาดรูปภาพ*/
                                    height: auto;
                                    padding-right: 20px;
                                }
                            </style>

                        </a></div>
                    
                    <li><a class="sidebar-sub-toggle"><i class="fa fa-signal" aria-hidden="true"></i> Dashboard </a>
                    </li>

                    <li>
                        <a href="{% url 'Patient:List' %}">
                            <i class="fa fa-address-card-o" aria-hidden="true"></i> ผู้ป่วย
                        </a>
                    </li>

                    <li><a href="{% url 'Patient:Infect'%}"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
                            ผู้ติดเชื้อ </a></li>

                    <li><a href="app-event-calender.html"><i class="fa fa-random" aria-hidden="true"></i>
                            ผู้มีความเสี่ยง </a></li>

                    <li><a href="app-event-calender.html"><i class="fa fa-book" aria-hidden="true"></i>
                            คู่มือการใช้ </a></li>                            

                </ul>
            </div>
        </div>
    </div>
    <!-- /# sidebar -->

    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="float-left">
                        <div class="hamburger sidebar-toggle">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="float-right">
                        <div class="dropdown dib">
                            <div class="header-icon" data-toggle="dropdown">
                                <i class="ti-user"></i>
                            </div>
                        </div>

                        <div class="dropdown dib">
                            <div class="header-icon" >
                                <a href = "/admin"><i class="ti-settings"></i></a>
                            </div>
                        </div>

                        <div class="dropdown dib">
                            <div class="header-icon" data-toggle="dropdown">
                                <a href = "{% url 'logout' %}"><i class="ti-power-off"></i></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="content-wrap">
        
        <div class="main">
            <div class="container-fluid">
                {% block content %}
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Dashboard</h1>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                    <div class="col-lg-4 p-l-0 title-margin-left">
                        <div class="page-header">
                            <div class="page-title">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                    <li class="breadcrumb-item active">Home</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                </div>
                <!-- /# row -->
                <section id="main-content">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class="fa fa-arrow-right color-danger" aria-hidden="true"
                                            ></i>
                                    </div>
                                    <div class="stat-content dib">
                                        <div class="stat-text">ผู้ป่วย</div>
                                        <div class="stat-digit">21</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i
                                            class="fa fa-file-text  color-warning  border-warning"></i>
                                    </div>
                                    <div class="stat-content dib">
                                        <div class="stat-text"> <a href="Form-report.html">ผู้ติดเชื้อ (รอคัดกรอง)</a>
                                        </div>
                                        <div class="stat-digit">3</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class="fa fa-clock-o "
                                            aria-hidden="true"></i>
                                    </div>
                                    <div class="stat-content dib">
                                        <div class="stat-text"><a href="Form-pending.html">ผู้ใกล้ชิด (รอดูอาการ)</a> </div>
                                        <div class="stat-digit">41</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <div class="stat-icon dib"><i class="fa fa-check color-success border-success"
                                            aria-hidden="true"></i></div>
                                    <div class="stat-content dib">
                                        <div class="stat-text"><a href="Form-scroe-view.html">รักษาหาย</a></div>
                                        <div class="stat-digit">7</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- contect -->
                    <style>
                        @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
                        @import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);

                        .hm-gradient {
                            background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
                        }

                        .darken-grey-text {
                            color: #2E2E2E;
                        }

                        .input-group.md-form.form-sm.form-2 input {
                            border: 1px solid #bdbdbd;
                            border-top-left-radius: 0.25rem;
                            border-bottom-left-radius: 0.25rem;
                        }

                        .input-group.md-form.form-sm.form-2 input.purple-border {
                            border: 1px solid #9e9e9e;
                        }

                        .input-group.md-form.form-sm.form-2 input[type=text]:focus:not([readonly]).purple-border {
                            border: 1px solid #ba68c8;
                            box-shadow: none;
                        }

                        .form-2 .input-group-addon {
                            border: 1px solid #ba68c8;
                        }

                        .danger-text {
                            color: #ff3547;
                        }

                        .success-text {
                            color: #00C851;
                        }

                        .table-bordered.red-border,
                        .table-bordered.red-border th,
                        .table-bordered.red-border td {
                            border: 1px solid #ff3547 !important;
                        }

                        .table.table-bordered th {
                            text-align: center;
                        }
                    </style>
                    <main>

                        <!--MDB Tables-->

                        <style>
                            .container {
                                width: 100%;
                            }
                        </style>
                        <div class="card">
                            <div class="card-body">
                                <!-- Grid row -->
                                <div class="row">
                                    <!-- Grid column -->
                                    <div class="col-md-12">
                                        <h2 style="text-align: center; font-size:20px;">เอกสารเข้า</h2>
                                    </div>
                                    <!-- Grid column -->
                                </div>
                                <!-- Grid row -->
                                <!--Table-->
                                <table class="table table-hover table-responsive mb-0" style = "width:100%;">
                                    <!--Table head-->
                                    <thead>
                                        <tr>
                                            <th scope="row"><span>#</span></th>
                                            <th class="th-lg" style="text-align: center;"><a>ชื่อ - สกุล</a></th>
                                            <th class="th-lg" style="text-align: center;"><a href="">ตำแหน่ง</a></th>
                                            <th class="th-lg" style="text-align: center;"><a href="">ขอบ้านประเภท</a>
                                            </th>
                                            <th class="th-lg" style="text-align: center;"><a href="">เขต</a></th>
                                            <th class="th-lg" style="text-align: center;"><a href="">วันที่ขอ</a></th>
                                            <th class="th-lg" style="text-align: center;"><a href="">ผลประเมิน</a></th>
                                            <th class="th-lg" style="text-align: center;"><a href="">ดูรายละเอียด</a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <!--Table head-->

                                    <!--Table body-->
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <th class="th-lg" style="text-align: center;">พ.อ.ต.นามสมมุติ รักสะอาด</td>
                                            <th class="th-lg" style="text-align: center;">จนท.ปซ.ผบซ.กบสซ.ศซว.ทอ.</td>
                                            <th class="th-lg" style="text-align: center;">บ้านเดี่ยว</td>
                                            <th class="th-lg" style="text-align: center;">ท่าดินแดง</td>
                                            <th class="th-lg" style="text-align: center;">25/6/2564</td>
                                            <td><button type="button" class="btn btn-outline-danger btn-sm"
                                                    style="padding-left: 7px;">ยังไม่ได้ประเมิน</button></td>
                                            <td> <a href="Form-pending.html">
                                                    <button type="submit" class="btn btn-sm "><i class="fa fa-eye"
                                                            aria-hidden="true" style="color: black;"></i>&nbsp; <span
                                                            style="color:black;">View</span> </button>
                                                </a></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <th class="th-lg" style="text-align: center;">พ.อ.ต.นามสมมุติ รักสะอาด</td>
                                            <th class="th-lg" style="text-align: center;">จนท.ปซ.ผบซ.กบสซ.ศซว.ทอ.</td>
                                            <th class="th-lg" style="text-align: center;">บ้านเดี่ยว</td>
                                            <th class="th-lg" style="text-align: center;">ท่าดินแดง</td>
                                            <th class="th-lg" style="text-align: center;">25/6/2564</td>
                                            <td><a href="Form-scroe-view.html"><button type="button"
                                                        class="btn btn-outline-success btn-sm ">ประเมินแล้ว</button></a>
                                            </td>
                                            <td><a href="Form-scroe-view.html"><button type="submit" class="btn btn-sm "><i class="fa fa-eye"
                                                aria-hidden="true" style="color: black;"></i>&nbsp; <span
                                                style="color:black;">View</span> </button></a></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <th class="th-lg" style="text-align: center;">พ.อ.ต.นามสมมุติ รักสะอาด</td>
                                            <th class="th-lg" style="text-align: center;">จนท.ปซ.ผบซ.กบสซ.ศซว.ทอ.</td>
                                            <th class="th-lg" style="text-align: center;">บ้านเดี่ยว</td>
                                            <th class="th-lg" style="text-align: center;">ท่าดินแดง</td>
                                            <th class="th-lg" style="text-align: center;">25/6/2564</td>
                                                <td><a href="Form-scroe-view.html"><button type="button"
                                                    class="btn btn-outline-success btn-sm ">ประเมินแล้ว</button></a>
                                        </td>
                                            <td><button type="submit" class="btn btn-sm "><i class="fa fa-eye"
                                                        aria-hidden="true" style="color: black;"></i>&nbsp; <span
                                                        style="color:black;">View</span> </button></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <th class="th-lg" style="text-align: center;">พ.อ.ต.นามสมมุติ รักสะอาด</td>
                                            <th class="th-lg" style="text-align: center;">จนท.ปซ.ผบซ.กบสซ.ศซว.ทอ.</td>
                                            <th class="th-lg" style="text-align: center;">บ้านเดี่ยว</td>
                                            <th class="th-lg" style="text-align: center;">ท่าดินแดง</td>
                                            <th class="th-lg" style="text-align: center;">25/6/2564</td>
                                            <td><button type="button" class="btn btn-outline-danger btn-sm"
                                                    style="padding-left: 7px;">ยังไม่ได้ประเมิน</button></td>
                                            <td><button type="submit" class="btn btn-sm "><i class="fa fa-eye"
                                                        aria-hidden="true" style="color: black;"></i>&nbsp; <span
                                                        style="color:black;">View</span> </button></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">5</th>
                                            <th class="th-lg" style="text-align: center;">พ.อ.ต.นามสมมุติ รักสะอาด</td>
                                            <th class="th-lg" style="text-align: center;">จนท.ปซ.ผบซ.กบสซ.ศซว.ทอ.</td>
                                            <th class="th-lg" style="text-align: center;">บ้านเดี่ยว</td>
                                            <th class="th-lg" style="text-align: center;">ท่าดินแดง</td>
                                            <th class="th-lg" style="text-align: center;">25/6/2564</td>
                                                <td><a href="Form-scroe-view.html"><button type="button"
                                                    class="btn btn-outline-success btn-sm ">ประเมินแล้ว</button></a>
                                        </td>
                                            <td><button type="submit" class="btn btn-sm "><i class="fa fa-eye"
                                                        aria-hidden="true" style="color: black;"></i>&nbsp; <span
                                                        style="color:black;">View</span> </button></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">6</th>
                                            <th class="th-lg" style="text-align: center;">พ.อ.ต.นามสมมุติ รักสะอาด</td>
                                            <th class="th-lg" style="text-align: center;">จนท.ปซ.ผบซ.กบสซ.ศซว.ทอ.</td>
                                            <th class="th-lg" style="text-align: center;">บ้านเดี่ยว</td>
                                            <th class="th-lg" style="text-align: center;">ท่าดินแดง</td>
                                            <th class="th-lg" style="text-align: center;">25/6/2564</td>
                                                <td><a href="Form-scroe-view.html"><button type="button"
                                                    class="btn btn-outline-success btn-sm ">ประเมินแล้ว</button></a>
                                        </td>
                                            <td><button type="submit" class="btn btn-sm "><i class="fa fa-eye"
                                                        aria-hidden="true" style="color: black;"></i>&nbsp; <span
                                                        style="color:black;">View</span> </button></td>
                                        </tr>

                                    </tbody>
                                    <!--Table body-->
                                </table>
                                <!--Bottom Table UI-->
                                <div class="d-flex justify-content-center">
                                    <!--Pagination -->
                                    <nav class="my-4 pt-2">
                                        <ul class="pagination pagination-circle pg-blue mb-0">
                                            <!--First-->
                                            <li class="page-item disabled clearfix d-none d-md-block"><a
                                                    class="page-link">First</a></li>
                                            <!--Arrow left-->
                                            <li class="page-item disabled">
                                                <a class="page-link" aria-label="Previous">
                                                    <span aria-hidden="true">«</span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                            </li>
                                            <!--Numbers-->
                                            <li class="page-item active"><a class="page-link">1</a></li>
                                            <li class="page-item"><a class="page-link">2</a></li>
                                            <li class="page-item"><a class="page-link">3</a></li>
                                            <li class="page-item"><a class="page-link">4</a></li>
                                            <li class="page-item"><a class="page-link">5</a></li>
                                            <!--Arrow right-->
                                            <li class="page-item">
                                                <a class="page-link" aria-label="Next">
                                                    <span aria-hidden="true">»</span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </li>
                                            <!--First-->
                                            <li class="page-item clearfix d-none d-md-block"><a
                                                    class="page-link">Last</a></li>
                                        </ul>
                                    </nav>
                                    <!--/Pagination -->
                                </div>
                                <!--Bottom Table UI-->
                            </div>
                        </div>

                        <hr class="my-4">


                        <!--MDB Tables-->

                    </main>

                    <!-- /# row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer" style="text-align: center;">
                                <img src="{% static 'assets/images/footer.png' %}" width="75px" height="auto">
                                <span>SISD</span>
                            </div>
                        </div>
                    </div>
                </section>
                {% endblock %}
            </div>
        </div>
        
    </div>

    
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- jquery vendor -->
    <script src="{% static 'assets/js/lib/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/jquery.nanoscroller.min.js' %}"></script>
    <!-- nano scroller -->
    <script src="{% static 'assets/js/lib/menubar/sidebar.js' %}"></script>
    <script src="{% static 'assets/js/lib/preloader/pace.min.js' %}"></script>
    <!-- sidebar -->

    <script src="{% static 'assets/js/lib/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/scripts.js' %}"></script>
    <!-- bootstrap -->

    <script src="{% static 'assets/js/lib/calendar-2/moment.latest.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/calendar-2/pignose.calendar.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/calendar-2/pignose.init.js' %}"></script>


    <script src="{% static 'assets/js/lib/weather/jquery.simpleWeather.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/weather/weather-init.js' %}"></script>
    <script src="{% static 'assets/js/lib/circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/circle-progress/circle-progress-init.js' %}"></script>
    <script src="{% static 'assets/js/lib/chartist/chartist.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/sparklinechart/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/sparklinechart/sparkline.init.js' %}"></script>
    <script src="{% static 'assets/js/lib/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/owl-carousel/owl.carousel-init.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'assets/js/dashboard2.js' %}"></script>
</body>

</html>

