{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %} Admin Dashboard {% endblock %}</title>
    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="{% static 'assets/images/RTAF.ico' %}" />
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff" />
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff" />
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff" />
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff" />
    <!-- Styles -->
    <link href="{% static 'assets/css/lib/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/lib/themify-icons.css ' %} " rel="stylesheet" />
    <link href="{% static 'assets/css/lib/menubar/sidebar.css '%} " rel="stylesheet" />

    <link href="{% static 'assets/css/lib/bootstrap.min.css '%} " rel="stylesheet" />
    <link href="{% static 'assets/css/lib/helper.css '%} " rel="stylesheet" />
    <link href="{% static 'assets/css/style.css '%} " rel="stylesheet" />
</head>

<body>
    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <ul>
                    <div class="logo">
                        <a href="index.html">
                            <img class="pic" src="{% static 'assets/images/RTAF.png' %}" alt="" /><span>AFCOVID</span>
                            <style>
                                .pic {
                                    width: 75px;
                                    /*ปรับขนาดรูปภาพ*/
                                    height: auto;
                                    padding-right: 20px;
                                }
                            </style>
                        </a>
                    </div>

                    <li>
                        <a class="sidebar-sub-toggle">
                            <i class="fa fa-signal" aria-hidden="true"></i> Dashboard
                        </a>
                    </li>

                    <li>
                        <a href="main-form.html">
                            <i class="fa fa-address-card-o" aria-hidden="true"></i> ผู้ป่วย
                        </a>
                    </li>

                    <li>
                        <a href="app-event-calender.html"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
                ผู้ติดเชื้อ
              </a>
                    </li>

                    <li>
                        <a href="app-event-calender.html"><i class="fa fa-random" aria-hidden="true"></i> ผู้มีความเสี่ยง
              </a>
                    </li>

                    <li>
                        <a href="app-event-calender.html"><i class="fa fa-book" aria-hidden="true"></i> คู่มือการใช้
              </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /# sidebar -->

    <div class="content-wrap">
        {% block content %}
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Dashboard</h1>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                    <div class="col-lg-4 p-l-0 title-margin-left">
                        <div class="page-header">
                            <div class="page-title">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                    <li class="breadcrumb-item active">Home</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                </div>
                <!-- /# row -->
                <section id="main-content">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <img class="covid" src="{% static 'assets/images/covid-3.png' %}" alt="" />

                                    <div class="stat-content dib">
                                        <div class="stat-text">ผู้ป่วย</div>
                                        <div class="stat-digit">30</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <img class="covid" src="{% static 'assets/images/covid-1.png' %}" alt="" />
                                    <style>
                                        .covid {
                                            width: 45px;
                                            height: auto;
                                            float: left;
                                        }
                                    </style>

                                    <div class="stat-content dib" style="text-align: center">
                                        <div class="stat-text" style="text-align: center">
                                            <a href="Form-report.html">ผู้ติดเชื้อ (รอคัดกรอง)</a>
                                        </div>
                                        <div class="stat-digit">15</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <img class="covid" src="{% static 'assets/images/covid-4.png' %}" alt="" />

                                    <div class="stat-content dib">
                                        <div class="stat-text">
                                            <a href="Form-pending.html">ผู้ใกล้ชิด (รอดูอาการ)</a>
                                        </div>
                                        <div class="stat-digit">10</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4" />
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <img class="covid" src="{% static 'assets/images/covid-2.png' %}" alt="" />
                                    <div class="stat-content dib">
                                        <div class="stat-text">
                                            <a href="Form-scroe-view.html">รักษาหาย</a>
                                        </div>
                                        <div class="stat-digit">8</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-lg-3">
                            <div class="card">
                                <div class="stat-widget-one">
                                    <i style="color: #00C851;" class="fa fa-check-square-o fa fa-2x" aria-hidden="true"></i>
                                    <div class="stat-content dib">
                                        <div class="stat-text"><a href="Form-scroe-view.html">ไม่พบเชื้อ</a></div>
                                        <div class="stat-digit">100</div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>

                    <!-- contect -->
                    <div class="card">
                        <div class="card-body">
                            <!-- Grid row -->
                            <div class="row">
                                <!-- Grid column -->
                                <div class="col-md-12">
                                    <h2 style="text-align: center; font-size: 20px">
                                        COVID Response Center (CRC)
                                    </h2>
                                </div>
                                <!-- Grid column -->
                            </div>
                            <!-- Grid row -->
                            <!--Table-->
                            <table class="table table-hover table-responsive mb-0" style="width: 100%">
                                <!--Table head-->
                                <thead>
                                    <tr>
                                        <th scope="row"><span>#</span></th>
                                        <th class="th-lg" style="text-align: center">
                                            <a href="">วันที่</a>
                                        </th>
                                        <th class="th-lg" style="text-align: center">
                                            <a>ชื่อผู้ป่วย</a>
                                        </th>
                                        <th class="th-lg" style="text-align: center">
                                            <a href="">ชื่อคนแพร่เชื้อ</a>
                                        </th>
                                        <th class="th-lg" style="text-align: center">
                                            <a href="">เพศ</a>
                                        </th>
                                        <th class="th-lg" style="text-align: center">
                                            <a href="">วันเกิด</a>
                                        </th>
                                        <th class="th-lg" style="text-align: center">
                                            <a href="">เลขบัตรประชาชน</a>
                                        </th>
                                        <th class="th-lg" style="text-align: center">
                                            <a href=""> ที่ทำงาน/สังกัด</a>
                                        </th>

                                        <th class="th-lg" style="text-align: center">
                                            <a href=""> วันที่ตรวจพบเชื้อ</a>
                                        </th>

                                    </tr>
                                </thead>
                                <!--Table head-->

                                <!--Table body-->
                                <tbody>
                                    <tr>
                                        <td scope="row">1</td>
                                        <td class="th-lg" style="text-align: center">
                                            25/6/2564
                                        </td>
                                        <td class="th-lg" style="text-align: center">
                                            พ.อ.อ.นามสมมุติ รักสะอาด
                                        </td>
                                        <td class="th-lg" style="text-align: center">
                                            พ.อ.อ.แพร่เชื้อ โควิด
                                        </td>
                                        <td class="th-lg" style="text-align: center">ชาย</td>
                                        <td class="th-lg" style="text-align: center">
                                            10/07/2530
                                        </td>
                                        <td class="th-lg" style="text-align: center">
                                            x-xxxx-xxxx-xx-x-x
                                        </td>
                                        <td class="th-lg" style="text-align: center">ศวซ.ทอ.</td>

                                        <td class="th-lg" style="text-align: center">
                                            30/07/2564
                                        </td>

                                        <td class="th-lg" style="text-align: center">
                                            <button class="btn btn-success">view</button>
                                        </td>
                                    </tr>
                                </tbody>
                                <!--Table body-->
                            </table>
                            <!--Bottom Table UI-->
                            <div class="d-flex justify-content-center">
                                <!--Pagination -->
                                <nav class="my-4 pt-2">
                                    <ul class="pagination pagination-circle pg-blue mb-0">
                                        <!--First-->
                                        <li class="page-item disabled clearfix d-none d-md-block">
                                            <a class="page-link">First</a>
                                        </li>
                                        <!--Arrow left-->
                                        <li class="page-item disabled">
                                            <a class="page-link" aria-label="Previous">
                                                <span aria-hidden="true">«</span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                        </li>
                                        <!--Numbers-->
                                        <li class="page-item active">
                                            <a class="page-link">1</a>
                                        </li>
                                        <li class="page-item"><a class="page-link">2</a></li>
                                        <li class="page-item"><a class="page-link">3</a></li>
                                        <li class="page-item"><a class="page-link">4</a></li>
                                        <li class="page-item"><a class="page-link">5</a></li>
                                        <!--Arrow right-->
                                        <li class="page-item">
                                            <a class="page-link" aria-label="Next">
                                                <span aria-hidden="true">»</span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </li>
                                        <!--First-->
                                        <li class="page-item clearfix d-none d-md-block">
                                            <a class="page-link">Last</a>
                                        </li>
                                    </ul>
                                </nav>
                                <!--/Pagination -->
                            </div>
                            <!--Bottom Table UI-->
                        </div>
                    </div>
                    <hr class="my-4" />
                    <!--MDB Tables-->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-title">
                                    <h4>Detail</h4>
                                </div>
                                <div class="card-body">
                                    <div class="basic-elements">
                                        <form>
                                            <div class="row">
                                                <!-- row1 -->
                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <label>วันที่</label>
                                                        <input type="date" class="form-control" name="date" placeholder="วันที่" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label>เพศ</label>
                                                        <select name="select" class="form-control">
															<option  value="1">ชาย</option>
															<option value="2">หญิง</option>
															
														</select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>ขรก.ทอ.</label>
                                                        <input class="form-control" type="text" placeholder="boolean">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>วันที่ตรวจพบเชื้อ</label>
                                                        <input class="form-control" type="date" name="date2">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>ConfirmedPatient</label>
                                                        <input class="form-control" type="text" name="ConfirmedPatient" placeholder="boolean" />
                                                    </div>
                                                </div>
                                                <!-- row2 -->
                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <label>ผู้บันทึกข้อมูล</label>
                                                        <input class="form-control" type="text" placeholder="ชื่อ-นามสกุล" name="name" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label>วันเกิด</label>
                                                        <input class="form-control" type="date" name="date" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label>เบอร์ฉุกเฉิน</label>
                                                        <input class="form-control" type="number" name="phone2" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Corona3</label>
                                                        <input class="form-control" type="file" name="Corona3" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label>comment</label>
                                                        <textarea class="form-control " name="comment" rows="5 " placeholder="Text input "></textarea>
                                                    </div>
                                                </div>
                                                <!-- row3 -->
                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <label>ชื่อผู้ป่วย</label>
                                                        <input type="text" class="form-control" name="date" placeholder="ชื่อ-นามสกุล" name="name" />
                                                    </div>
                                                    <script type="text/javascript">
                                                        function autoTab(obj) {
                                                            /* กำหนดรูปแบบข้อความโดยให้ _ แทนค่าอะไรก็ได้ แล้วตามด้วยเครื่องหมาย
                                                            หรือสัญลักษณ์ที่ใช้แบ่ง เช่นกำหนดเป็น  รูปแบบเลขที่บัตรประชาชน
                                                            4-2215-54125-6-12 ก็สามารถกำหนดเป็น  _-____-_____-_-__
                                                            รูปแบบเบอร์โทรศัพท์ 08-4521-6521 กำหนดเป็น __-____-____
                                                            หรือกำหนดเวลาเช่น 12:45:30 กำหนดเป็น __:__:__
                                                            ตัวอย่างข้างล่างเป็นการกำหนดรูปแบบเลขบัตรประชาชน
                                                            */
                                                            var pattern = new String("_-____-_____-_-__"); // กำหนดรูปแบบในนี้
                                                            var pattern_ex = new String("-"); // กำหนดสัญลักษณ์หรือเครื่องหมายที่ใช้แบ่งในนี้
                                                            var returnText = new String("");
                                                            var obj_l = obj.value.length;
                                                            var obj_l2 = obj_l - 1;
                                                            for (i = 0; i < pattern.length; i++) {
                                                                if (obj_l2 == i && pattern.charAt(i + 1) == pattern_ex) {
                                                                    returnText += obj.value + pattern_ex;
                                                                    obj.value = returnText;
                                                                }
                                                            }
                                                            if (obj_l >= pattern.length) {
                                                                obj.value = obj.value.substr(0, pattern.length);
                                                            }
                                                        }
                                                    </script>


                                                    <div class="form-group">
                                                        <label>เลขบัตรประชาชน</label>
                                                        <input name="data" class="form-control" type="text" id="data" onkeyup="autoTab(this)" />
                                                    </div>
                                                    <div class="form-group ">
                                                        <label>เบอร์มือถือ</label>
                                                        <input class="form-control " type="number " name="phone" />
                                                    </div>
                                                    <div class="form-group ">
                                                        <label>DetectedResult</label>
                                                        <input class="form-control " type="file" name="DetectedResult" />
                                                    </div>

                                                </div>
                                                <!-- row4 -->
                                                <div class="col-lg-3 ">
                                                    <div class="form-group ">
                                                        <label>ชื่อคนเเพร่เชื้อ</label>
                                                        <input type="text " class="form-control " name="name " placeholder="None " />
                                                    </div>
                                                    <div class="form-group ">
                                                        <label>ที่ทำงาน/สังกัด</label>
                                                        <input class="form-control " type="text " placeholder="สังกัด " name="name " />
                                                    </div>
                                                    <div class="form-group ">
                                                        <label>ที่อยู่ปัจจุบัน<label>
                                                            <textarea class="form-control " rows="5 " placeholder="Text input "></textarea>
                                                    </div>
                                                   

                                                </div>

                                                <hr width="100%">
                                                <!-- status -->
                                                <div class="col-lg-12 ">
                                                    <div class="form-group ">
                                                        <span>สถานะผู้ป่วย</span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-3 ">
                                                    <label>วันที่</label>
                                                        <div class="form-group ">
                                                            <input type="date" class="form-control " name="date" />
                                                        </div>
                                                    </div>
                                                    <hr width="100%">
                                                    <div class="col-lg-2 ">
                                                        <label>สถานะ</label>
                                                        <div class="form-group ">
                                                            <div class="container">
                                                                <div class="well well-sm text-center">
                                                                    <div class="btn-group" data-toggle="buttons">

                                                                        <label class="btn btn-danger active">
                                                                        <input type="radio" name="options1" id="option2" autocomplete="off" chacked>
                                                                        <span class="glyphicon glyphicon-ok">&nbsp;ผู้ป่วย</span>
                                                                    </label>

                                                                        <label class="btn btn-warning1 active">
                                                                        <input type="radio" name="options1" id="option1" autocomplete="off">
                                                                        <span class="glyphicon glyphicon-ok">ผู้ติดเชื้อ</span>
                                                                    </label>
                                                                        <style>
                                                                            .btn-warning1 {
                                                                                background-color: #FDB924;
                                                                                color: black;
                                                                            }
                                                                        </style>

                                                                        <label class="btn btn-warning active">
                                                                        <input type="radio" name="options1" id="option2" autocomplete="off">
                                                                        <span class="glyphicon glyphicon-ok">ผู้ใกล้ชิด</span>
                                                                    </label>



                                                                        <label class="btn btn-success active">
                                                                        <input type="radio" name="options1" id="option2" autocomplete="off">
                                                                        <span class="glyphicon glyphicon-ok">หายป่วย</span>
                                                                    </label>



                                                                        <label class="btn btn-danger active">
                                                                        <input type="radio" name="options1" id="option2" autocomplete="off">
                                                                        <span class="glyphicon glyphicon-ok">เสียชีวิต</span>
                                                                    </label>

                                                                        <label class="btn btn-danger active">
                                                                        <input type="radio" name="options1" id="option2" autocomplete="off">
                                                                        <span class="glyphicon glyphicon-ok">เสียงสูง(ผู้ใกล้ชิด)</span>
                                                                    </label>

                                                                        <label class="btn btn-danger active">
                                                                        <input type="radio" name="options1" id="option2" autocomplete="off">
                                                                        <span class="glyphicon glyphicon-ok">ปลอดเชื่อ(ผู้ใกล้ชิด)</span>
                                                                    </label>

                                                                        <label class="btn btn-danger active">
                                                                        <input type="radio" name="options1" id="option2" autocomplete="off">
                                                                        <span class="glyphicon glyphicon-ok">ติดเชื้อ(ผู้ใกล้ชิด)</span>
                                                                    </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <style>
                                                                .btn span.glyphicon {
                                                                    opacity: 0;
                                                                }
                                                                
                                                                .btn.active span.glyphicon {
                                                                    opacity: 1;
                                                                }
                                                            </style>


                                                        </div>
                                                    </div>
                                                </div>

                                                <hr width="100%">
                                                <!-- การรักษา -->
                                                <div class="col-lg-12 ">
                                                    <div class="form-group ">
                                                        <span>การรักษา</span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-3 ">
                                                    <label>วันที่</label>
                                                    <div class="form-group ">
                                                        <input type="date" class="form-control " name="date" />
                                                    </div>
                                                </div>
                                                <hr width="100%">
                                                <div class="col-lg-2 ">
                                                    <label>สถานะ</label>
                                                    <div class="form-group ">
                                                        <div class="container">
                                                            <div class="well well-sm text-center">
                                                                <div class="btn-group" data-toggle="buttons">

                                                                    <label class="btn btn-primary1 active">
                                                                        <input type="radio" name="options" id="option2" autocomplete="off" chacked>
                                                                        <span class="glyphicon glyphicon-ok">&nbsp;รักษาระยะห่าง</span>
                                                                    </label>
                                                                    <style>
                                                                        .btn-primary1 {
                                                                            background-color: #343957;
                                                                            color: white;
                                                                        }
                                                                    </style>
                                                                    <label class="btn btn-primary1 active">
                                                                        <input type="radio" name="options" id="option2" autocomplete="off" chacked>
                                                                        <span class="glyphicon glyphicon-ok">&nbsp;กักตัวอยู่บ้าน</span>
                                                                    </label>
                                                                    <label class="btn btn-primary1 active">
                                                                        <input type="radio" name="options" id="option2" autocomplete="off" chacked>
                                                                        <span class="glyphicon glyphicon-ok">&nbsp;กักตัวรอเตียง</span>
                                                                    </label>
                                                                    <label class="btn btn-primary1 active">
                                                                        <input type="radio" name="options" id="option2" autocomplete="off" chacked>
                                                                        <span class="glyphicon glyphicon-ok">&nbsp;Home Isolation</span>
                                                                    </label>
                                                                    <label class="btn btn-primary1 active">
                                                                        <input type="radio" name="options" id="option2" autocomplete="off" chacked>
                                                                        <span class="glyphicon glyphicon-ok">&nbsp;รพ.สนาม</span>
                                                                    </label>
                                                                    <label class="btn btn-primary1 active">
                                                                        <input type="radio" name="options" id="option2" autocomplete="off" chacked>
                                                                        <span class="glyphicon glyphicon-ok">&nbsp;โรงพยาบาล</span>
                                                                    </label>


                                                                </div>
                                                            </div>
                                                        </div>
                                                        <style>
                                                            .btn span.glyphicon {
                                                                opacity: 0;
                                                            }
                                                            
                                                            .btn.active span.glyphicon {
                                                                opacity: 1;
                                                            }
                                                        </style>


                                                    </div>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /# row -->

                    <!-- <div class="row ">
                        <div class="col-lg-12 ">
                            <div class="footer ">
                                <p>
                                    2018 © Admin Board. - <a href="# ">example.com</a>
                                </p>
                            </div>
                        </div>
                    </div> -->
                </section>
            </div>
        </div>
    </div>
    <!-- end Detail -->

    <!-- /# row -->
    <div class="row ">
        <div class="col-lg-12 ">
            <div class="footer " style="text-align: center ">
                <img src="{% static 'assets/images/footer.png' %} " width="75px " height="auto " />
                <span>SISD</span>
            </div>
        </div>
    </div>
    </section>
    </div>
    </div>
    {% endblock %}
    </div>

    <!-- jquery vendor -->
    <script src="assets/js/lib/jquery.min.js "></script>
    <script src="assets/js/lib/jquery.nanoscroller.min.js "></script>
    <!-- nano scroller -->
    <script src="assets/js/lib/menubar/sidebar.js "></script>
    <script src="assets/js/lib/preloader/pace.min.js "></script>
    <!-- sidebar -->

    <!-- bootstrap -->

    <script src="assets/js/lib/bootstrap.min.js "></script>
    <script src="assets/js/scripts.js "></script>
    <!-- scripit init-->
</body>

</html>