{% extends '_base.html' %}
{% load static %}
{% load thaidate %}

{% block title %}เพิ่มผู้ป่วย{% endblock %}

{% block content %}

<div class="row">
    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <h4 class="text-uppercase">เพิ่มผู้ป่วย</h4>
    </div>
    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ form }}
            <input type="submit" value="Add">
        </form>
    </div>
</div>


{% endblock %}

{% block script %}
    <script>

        
    </script>
{% endblock %}