{% extends '_base.html' %}
{% load static %}
{% load thaidate %}

{% block title %}เพิ่มผู้ป่วย{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12">
        <h4 class="text-uppercase">เพิ่มผู้ป่วย</h4>
    </div>
</div>
<div class="row">
    <div class = "col-6">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
    </div>
</div>


{% endblock %}

{% block script %}
    <script>

        
    </script>
{% endblock %}