{% extends '_base.html' %}
{% load static %}
{% load thaidate %}

{% block title %}ข้อมูลผู้ป่วย{% endblock %}

{% block content %}

<div class="container">
          วันที่ : {{ Patient.Date }}<br>
          ผู้บันทึก : {{ Patient.DataUser }}<br>
          ชื่อผู้ป่วย: {{ Patient.FullName }}<br>
          ชื่อคนแพร่เชื้อ: {{ Patient.InfectiousName }}<br>
          เพศ : {{ Patient.Gender }}<br>
          วันเกิด : {{ Patient.BirthDay }}<br>
          เลขบัตรประชาชน : {{ Patient.PersonID }}<br>
          ที่ทำงาน/สังกัด : {{ Patient.Office }}<br>
          ขรก.ทอ. : {{ Patient.IsAirforce }}<br>
          วันที่ตรวจพบเชื้อ : {{ Patient.DatePositive }}<br>
          เบอร์มือถือ : {{ Patient.Mobile }}<br>
          ที่อยู่ปัจจุบัน : {{ Patient.Address }}<br>
          เบอร์ฉุกเฉิน : {{ Patient.EmergencyMobile }}<br>
          Corona3 : 
            {% if Patient.Corona3 %}
              <a href = "{% get_media_prefix %}{{ Patient.Corona3 }}" target = "_blank" class="btn  btn-sm btn-primary">openfile </a>
            {% else %}
              -
            {% endif %}
          <br>
          DetectedResult : 
            {% if Patient.DetectedResult %}
              <a href = "{% get_media_prefix %}{{ Patient.DetectedResult }}" target = "_blank" class="btn  btn-sm btn-primary">openfile </a>
            {% else %}
              -
            {% endif %}
          <br>

          ConfirmUser : {{ Patient.ConfirmUser }}<br>
          ConfirmedPatient : {{ Patient.ConfirmedPatient }}<br>
          Comment : {{ Patient.Comment }}<br>

</div>
<div class = "container">
  <form method = 'POST'>
      {% csrf_token %}
      <div class = "row">      
        <div class = "col-6">
          <b>สถานะผู้ป่วย</b> <br>
          {% for status in StatusList %}
            {{status.Date}} ,  {{status.RecorderUser}}, {{status.get_Status_display}} , {{status.Comment}} <br>
          {% endfor %}
          {{ status_log_form }}
        </div>
          <div class = "col-6">
        <b>การรักษาผู้ป่วย</b> <br>
        {% for treatment in TreatmentList %}
          {{treatment.Date}} ,  {{treatment.RecorderUser}}, {{treatment.get_Treatment_display}} , {{treatment.Comment}} <br>
        {% endfor %}
        {{ treatment_log_form }}
        </div>

      </div>
    <input class="btn btn-primary" type="submit" value="Submit">
  </form>
</div>


{% endblock %}

