{% extends '_base.html' %}
{% load static %}
{% load thaidate %}

{% block title %}ข้อมูลผู้ป่วย{% endblock %}

{% block content %}
<style>
.section-title h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 10px;
  position: relative;
  color: #173b6c;
}

.section-title h3::after {
  content: '';
  position: absolute;
  display: block;
  width: 600px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}

.section-title h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 8px;
  position: relative;
  color: #173b6c;
}

.section-title h4::after {
  content: '';
  position: absolute;
  display: block;
  width: 600px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}

</style>
<div class="container">
    <div class="section-title">
        <h3>{{ Patient.FullName }}</h3>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>ผู้บันทึก:</strong> <span>{{ Patient.DataUser.FullName }} <strong>เมื่อวันที่</strong> {{ Patient.Date|thaidate:"D d M Y" }}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>เพศ:</strong> <span>{{ Patient.Gender }}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>เลขบัตรประชาชน:</strong> <span>{{ Patient.PersonID }}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>หมายเหตุ:</strong> <span>Comment : {{ Patient.Comment }}<br></span></li>     
            </ul>
        </div>
        <div class="col-lg-6">
            <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>วันเกิด:</strong> <span>{{ Patient.BirthDay }} ({{ Patient.Age }})</span></li>
                <li><i class="bi bi-chevron-right"></i> 
                    {% if Patient.IsAirforce %} 
                        <strong>เป็นข้าราชการกองทัพอากาศ</strong> <span>{{ Patient.Office }}</span></li>
                    {% else %}
                        <strong>ไม่เป็นข้าราชการกองทัพอากาศ</strong> <span>{{ Patient.Office }}</span></li>
                    {% endif %}
                <li><i class="bi bi-chevron-right"></i> <strong>ที่อยู่ปัจจุบัน :</strong> <span>{{ Patient.Address }}</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>เบอร์มือถือ : </strong> <span>{{ Patient.Mobile }}</span> <strong>เบอร์ฉุกเฉิน : </strong> <span>{{ Patient.EmergencyMobile }}</span></li>
            </ul>
        </div>
    </div>

          ชื่อคนแพร่เชื้อ: {{ Patient.InfectiousName }}<br>
         
          วันที่ตรวจพบเชื้อ : {{ Patient.DatePositive }}<br>

          Corona3 : 
            {% if Patient.Corona3 %}
              <a href = "{% get_media_prefix %}{{ Patient.Corona3 }}" target = "_blank" class="btn  btn-sm btn-primary">openfile </a>
            {% else %}
              -
            {% endif %}
          <br>
          DetectedResult : 
            {% if Patient.DetectedResult %}
              <a href = "{% get_media_prefix %}{{ Patient.DetectedResult }}" target = "_blank" class="btn  btn-sm btn-primary">openfile </a>
            {% else %}
              -
            {% endif %}
          <br>

          ConfirmUser : {{ Patient.ConfirmUser }}<br>
          ConfirmedPatient : {{ Patient.ConfirmedPatient }}<br>
          

</div>
<div class = "container">
  <form method = 'POST'>
      {% csrf_token %}
      <div class = "row">      
        <div class = "col-6">
          <b>สถานะผู้ป่วย</b> <br>
          {% for status in StatusList %}
            {{status.Date}} ,  {{status.RecorderUser}}, {{status.get_Status_display}} , {{status.Comment}} <br>
          {% endfor %}
          {{ status_log_form }}
        </div>
          <div class = "col-6">
        <b>การรักษาผู้ป่วย</b> <br>
        {% for treatment in TreatmentList %}
          {{treatment.Date}} ,  {{treatment.RecorderUser}}, {{treatment.get_Treatment_display}} , {{treatment.Comment}} <br>
        {% endfor %}
        {{ treatment_log_form }}
        </div>

      </div>
    <input class="btn btn-primary" type="submit" value="Submit">
  </form>
</div>


{% endblock %}

