{% extends '_base.html' %}
{% load static %}
{% load thaidate %}
{% load custom_tag %}

{% block title %}{{ PageTitle }}{% endblock %}

{% block content %}
    <style>    
        form.example input[type=text] {
        padding: 5px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 80%;
        background: #f1f1f1;
        }

        form.example button {
        float: left;
        width: 20%;
        padding: 5px;
        background: #2196F3;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
        }

        form.example button:hover {
        background: #0b7dda;
        }

        form.example::after {
        content: "";
        clear: both;
        display: table;
        }    


    </style>

<div class="container">
    <div class = "float-left">
        <a href = "{% url 'Patient:AddNew' %}"class="btn   btn-success" role="button" >เพิ่มผู้ป่วย</a>
    </div>
    <div class = "float-right">
        <form class="example" action="" style="margin:auto;max-width:400px">
            <input type="text" placeholder="Search.." name="textsearch">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <col width="80">
        <col width="330">
        <col width="100">
        <col width="50">
        <col width="90">
        <col width="100">
        <col width="120">
        <col width="80">
        <col width="80">
        <col width="80">
        <thead>
          <tr>
            <th>Date</th>
            <th>FullName (อายุ)</th>            
            <th>หน่วย</th>
            <th>PID</th>
            <th>Date +</th>
            <th>สถานะ</th>     
            <th>มือถือ</th>     
            <th colspan = 3>การจัดการ</th>     
          </tr>
        </thead>
        <tbody>
          {% for patient in object_list %}
          <tr>
            <td>{{ patient.Date|thaidate:"d-m-y" }}</td>
            <td> 
              <abbr title="{{ patient.get_AirforceType_display }}">
                {% if patient.AirforceType == 0 %}
                  <img src = "{% static 'assets/images/avatar/af_type0.png' %}" width = 25>
                {% elif patient.AirforceType == 1 %}
                  <img src = "{% static 'assets/images/avatar/af_type1.png' %}" width = 25>
                {% elif patient.AirforceType == 2 %}
                  <img src = "{% static 'assets/images/avatar/af_type2.png' %}" width = 25>
                {% elif patient.AirforceType == 3 %}
                  <img src = "{% static 'assets/images/avatar/af_type3.png' %}" width = 25>
                {% elif patient.AirforceType == 4 %}
                  <img src = "{% static 'assets/images/avatar/af_type4.png' %}" width = 25>
                {% endif %}
              </abbr>

              {{ patient.FullName }} 
              {% if patient.Age > 0 %}
                ({{ patient.Age }})
              {% endif %}            
            </td>            
            <td>
                {{ patient.Office}} 
            </td>
            <td>
              {% if patient.IsPersonID  %}
                  <abbr title="{{ patient.PersonID }}"><i class="fas fa-check"></i></abbr>                  
              {% endif %}
            </td>
            <td>{{ patient.DatePositive|thaidate:"d-m-y" }}</td>
            <td>            
              {{ patient.TreatmentIcon|safe }}

              <span class="float-right">
                <abbr title="{{ patient.get_CurrentStatus_display }}">
                  {% if patient.get_CurrentStatus_display == 'ผู้ป่วยสีเขียว'%}
                      <i class="fa fa-first-aid fa-lg" style="color:rgb(50,205,50)"></i>
                  {%elif patient.get_CurrentStatus_display == 'ผู้ป่วยสีเหลืองอ่อน'%}
                      <i class="fa fa-first-aid fa-lg" style="color:rgb(255,255,0)"></i>
                  {%elif patient.get_CurrentStatus_display == 'ผู้ป่วยสีเหลืองเข้ม'%}
                      <i class="fa fa-procedures fa-lg" style="color:rgb(246,199,0)"></i>
                  {%elif patient.get_CurrentStatus_display == 'ผู้ป่วยสีแดง'%}
                      <i class="fa fa-procedures fa-lg" style="color:red"></i>
                  {%elif patient.get_CurrentStatus_display == 'หายป่วย'%}
                      <i class="fa fa-walking fa-lg" style="color:blue"></i>
                  {%elif patient.get_CurrentStatus_display == 'เสียชีวิต'%}
                      <i class="fa fa-bed fa-lg" style="color:black"></i>
                  {%else%}
                      <i class="fa fa-question-circle fa-lg" style="color:rgb(160,160,160)"></i>
                  {% endif %}     
                <abbr>        
              </span>
            </td>
            <td>{{ patient.Mobile }}</td>
            <td>
                <a href = '{% url 'Patient:Detail' patient.id %}'class="btn  btn-sm btn-primary" role="button" >view</a>                
            </td>
            <td>
                <a href = '{% url 'Patient:UpdateFB' patient.id %}' class="btn  btn-sm btn-warning" role="button" >แก้ไข</a>                
            </td>
            <td>
              {% if  patient.DataUser == request.user %}
                <a 
                  href = '{% url 'Patient:Delete' patient.id %}' 
                  class="btn  btn-sm btn-danger" 
                  role="button" 
                  onclick = "return confirm('ยืนยันการลบข้อมูลของ{{ patient.FullName }} ');"
                >ลบ</a>   
              {% endif %}            
            </td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan = 8></td>
            <td colspan = 3><a href = "{% url 'Patient:AddNew' %}"class="btn   btn-success" role="button" >เพิ่มผู้ป่วย</a></td>            
          </tr>
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
      {% if is_paginated %}
      <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
            <a class="page-link" href="?page={{page_obj.previous_page_number}}"
                >&laquo;</a
            >
            </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#">&laquo;</a>
            </li>
        {% endif %} 
        {% for i in paginator.page_range %} 
            {% if page_obj.number ==  i %}
              <li class="page-item"><a class="page-link active"><strong>{{ i }}</strong></a></li>
            {% elif i <= 4 or i >= paginator.num_pages|add:"-3" %}
              <li class="page-item">              
                <a class="page-link" href="{% url_replace request 'page' i %}">{{ i }}</a>
              </li>
            {% elif page_obj.number >=  i|add:"-3"  and page_obj.number <=  i|add:"3"%}
              <li class="page-item">
                <a class="page-link" href="{% url_replace request 'page' i %}">{{ i }}</a>                
              </li>
            {% else %}
              <li class="page-item">
                &nbsp;
              </li>
            {% endif %}
        {% endfor %} 
        {% if page_obj.has_next %}
        <li class="page-item">
          <a href="?page={{page_obj.next_page_number}}" class="page-link"
            >&raquo;</a
          >
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link">&raquo;</a>
        </li>
        {% endif %}
      </ul>
      {% endif %}

    </nav>
    </div>
</div>


{% endblock %}