{% extends '_base.html' %}
{% load static %}
{% load thaidate %}

{% block title %}แก้ไขข้อมูลผู้ป่วย{% endblock %}

{% block content %}


<div class="row">
    <div class="col-lg-8 p-r-0 title-margin-right">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table">
            {{ form.as_table }}
            </table>
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
    </div>
</div>


{% endblock %}

{% block script %}
    <script>

        
    </script>
{% endblock %}