{% extends '_blank.html' %}
{% load static %}
{% load thaidate %}

{% block title %}เพิ่มฟอร์ม Corona3{% endblock %}

{% block BodyTitle %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">แบบฟอร์มกรอกข้อมูลผู้ป่วย COVID-19 ในพื้นที่ดอนเมือง สายไหม รังสิต</h4>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="container">

        <label class="list-group-item bg-primary" >ข้อมูลพื้นฐาน</label>
       
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="basicInput">หมายเลขบัตรประจำตัวประชาชน <span class="text-danger">*</span></label>
                    {{ form.PersonID }}
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label for="basicInput">คำนำหน้า ชื่อ-นามสกุล </label> <span class="text-danger">*</span>
                    {{ form.FullName }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="basicInput">ที่อยู่ ที่พักปัจจุบัน (สำหรับส่งยา-เวชภัณฑ์-อาหาร) </label> <span class="text-danger">*</span>
                    {{ form.Address }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="basicInput">Google Map Code Plus </label> <a href = "{% static 'assets/images/mapPatient.png'%}" target = "new">วิธีหา</a>
                    {{ form.GoogleMap }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="basicInput">ปี พ.ศ.เกิด </label>
                    {{ form.BirthYear }}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="basicInput">สัญชาติ </label>
                    {{ form.Nationality }}
                </div>
            </div>                
            <div class="col-md-3">
                <div class="form-group">
                    <label for="basicInput">เพศ </label>
                    {{ form.Gender }}
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="basicInput">การตั้งครรภ์ (เฉพาะเพศหญิง) </label>
                    {{ form.CaseFemale }}
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="basicInput">ศาสนา</label> 
                    {{ form.Religion }}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="basicInput">หมู่เลือด </label>
                    {{form.BloodType }}
                </div>
            </div>                

            <div class="col-md-3">
                <div class="form-group">
                    <label for="basicInput">สิทธิ์การรักษาพยาบาล</label>
                    {{ form.RightMedicalTreatment }}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="basicInput">ต้นสังกัดที่เบิกค่ารักษาพยาบาล </label>
                    {{ form.TreatPlaceWork }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="basicInput">อาชีพ</label>
                    {{ form.CareerPatient }}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="basicInput">ประเภทบุคลากร ทอ.</label> 
                    {{form.AirforceType }}
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="basicInput">สังกัด / หน่วยงาน</label>
                    {{ form.PlaceWork }}
                </div>
            </div>                
            <div class="col-md-3">
                <div class="form-group">
                    <label for="basicInput">e-mail</label>
                    {{ form.Email }}
                </div>
            </div>                

        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="basicInput">เบอร์โทรผู้ป่วย </label> <span class="text-danger">*</span>
                    {{ form.Mobile }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="basicInput">เบอร์โทรญาติ </label>
                    {{ form.MobileRelative }}
                </div>
            </div>
        </div>


    <label class="list-group-item bg-warning" >ข้อมูลคลีนิค</label>
    
        <div class="row  mt-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="basicInput">วันที่เริ่มป่วย </label>
                    {{ form.DatePatient }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="basicInput">ระดับอาการ </label> (คำอธิบาย)
                    {{form.CurrentStatus }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="basicInput">ข้อมูลการรับวัคซีน COVID </label>
                    {{ form.VaccineDetail }}
                </div>
            </div>  
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="basicInput"> ผลตรวจ ATK </label> (คำอธิบาย) 
                    {{ form.ATK }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="basicInput"> ผลตรวจ PCR </label> (คำอธิบาย)
                    {{ form.PCR }}
                </div>
            </div>            
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="basicInput">สามารถทำ Home Isolation </label>
                    {{form.HomeIsolation }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="basicInput">จำนวนผู้พักอาศัยร่วม </label>
                    {{ form.LiveWith }}
                </div>
            </div>          
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="basicInput">โรคประจำตัว </label> 
                    {{ form.DiseasePatient }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="basicInput">ประวัติการแพ้ยา </label>
                    {{ form.DrugAllergyHistory }}
                </div>
            </div>          
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="basicInput">อาการ </label>
                        {{ form.Symptom }}
                </div>
            </div>          
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="basicInput">หมายเหตุ / บันทึกอื่น ๆ  </label> 

                    {{ form.Note }}
                </div>
            </div>          
        </div>

    <input class="btn btn-primary" type="submit" value="ส่งข้อมูล">
    </form>


    </div>
{% endblock %}
